<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="9799MattMcCormick.SendToReader" Publisher="CN=C6F6E569-3D6B-467C-ACB2-38BF1E5BE1A1" Version="1.1.0.2" />
  <mp:PhoneIdentity PhoneProductId="3f0253d4-e254-4860-b35c-7340c1c6fd0a" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Send To Reader</DisplayName>
    <PublisherDisplayName>Matt McCormick</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SendToReader.App">
      <m3:VisualElements DisplayName="Send To Reader" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Send a website to your Kindle" ForegroundText="light" BackgroundColor="#C2C2C2">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:ApplicationView MinWidth="width320" />
        <!--Used in XAML Designer. DO NOT REMOVE-->
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.shareTarget" EntryPoint="SendToReader.App.MainPage">
          <ShareTarget m2:Description="Send To Reader">
            <DataFormat>WebLink</DataFormat>
          </ShareTarget>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>